<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Film</title>
	<link media="all" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
   <header>
      <div class="container">
         <h1>Кинокаталог</h1>
      </div>
      <div>
         <h4><a id="authorization" href="/authorization">Войти</a></h4>
         <h4><a id="profile" href="/profile">Профиль</a></h4>
         <h4><a id="logout" href="/logout">Выйти</a></h4>
	  </div>
   </header>
   <main>
      <div class="container">
         <p style="font-size:25px" th:text="${selectedFilm.getTitle()}"/>
         <img th:src="@{${selectedFilm.getImage()}}" width="200" height="300" align="top"/>
         <table>
         	 <tr>
                 <td>
                 <form action="#" th:action="@{/addBookmark}" method="post">
             	 	<input name="id" type="hidden" th:value="${selectedFilm.getId()}"/>
             	 	<input id="add_bookmark_submit" type="submit" value="В закладки"/>
         		 </form>
                 </td>
                 <td>
                 <form action="#" th:action="@{/removeBookmark}" method="post">
             	 	<input name="id" type="hidden" th:value="${selectedFilm.getId()}"/>
             	 	<input id="remove_bookmark_submit" type="submit" value="Убрать из закладок"/>
         		 </form>
                 </td>
             </tr>
             <tr>
                 <td>Год:</td>
                 <td th:text="${selectedFilm.getReleaseYear()}"/>
             </tr>
             <tr>
                 <td>Жанр:</td>
                 <td th:text="${selectedFilm.getGenre()}"/>
             </tr>
             <tr>
                 <td>Режиссёр:</td>
                 <td th:text="${selectedFilm.getDirector()}"/>
             </tr>
             <tr>
                 <td>Время:</td>
                 <td th:text="${selectedFilm.getTime()}"/>
             </tr>
             <tr>
                 <td>Возрастной рейтинг:</td>
                 <td th:text="${selectedFilm.getAgeRating()}"/>
             </tr> 
         </table>
         <p th:text="${selectedFilm.getDescription()}"/>
      </div>
   </main>
   <footer>
      <div class="container">
      </div>
   </footer>
</body>
</html>
