<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration</title>
	<link media="all" rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
   <header>
      <div class="container">
         <h1>Кинокаталог</h1>
      </div>
   </header>
   <main>
      <div class="container">
         <p style="font-size:25px">Регистрация</p>
         <div class="form-center">
             <form method="post" th:action="@{/registration}" th:object="${user}">
                 <table>
                     <tr>
                         <td><label>Логин:</label></td>
                         <td><input name="username" type="text" th:field="*{username}"/></td>
                         <td>
                             <span class="validationError" th:text="${usernameError}">Login Error</span>
                             <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                         </td>
                     </tr>
                     <tr>
                         <td><label>Пароль:</label></td>
                         <td><input name="password" type="password" th:field="*{password}"/></td>
                         <td>
                             <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                         </td>
                     </tr>
                     <tr>
                     	 <td><label>Email:</label></td>
                     	 <td><input name="email" type="text" th:field="*{email}"/></td>
                     	 <td><span class="validationError" th:if="${#fields.hasErrors('email')}"
                     	 th:errors="*{email}">Email Error</span></td>
                     </tr>
                 </table>
                 <div class="form-center">
                     <input type="submit" id="registration_submit" value="Готово"/>
                 </div>
             </form>             
         </div>
      </div>
   </main>
   <footer>
      <div class="container">
      </div>
   </footer>
</body>
</html>
